.DS_Store
*/.DS_Store
*.class
*.iws
*.iml
*.ipr
.idea
.idea/*
*.bak
target
target/*
.gradle/
.DS_Store
.project
.settings/
*.pyc
*.log
*.stats
*.apk
*.ap_
*.dex
gen/
local.properties
proguard/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
*.hmap
*.ipa
.metadata/
.metadata/*
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
————————————————
版权声明：本文为CSDN博主「勿忘在莒威龙」的原创文章，遵循CC 4.0 BY-SA版权协议，转载请附上原文出处链接及本声明。
原文链接：https://blog.csdn.net/longyehua/article/details/120989952